.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameRunning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-buttons {
    display: flex;
    margin: 1rem;
}

.radio-buttons .radio-button {
    font-size: 2em;
    padding: 0.5rem;
}

.radio-buttons .radio-button input {
    height: 2em;
}

.radio-buttons .radio-button:hover {
    background-color: #28df99;
}

.number-input {
    margin: 1rem;
    font-size:1.5em;
}

.guess {
    width:50%;
    font-size: 2em;
    background-color: #28df99;
    margin: 2rem 2rem;
}

.gameFinished{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameFinished p{
    font-size: 3em;
}

.gameFinished button{
    margin: 2rem;
    font-size: 2em;
    padding: 0.5rem;
    background-color: #28df99;
}

.trialResult {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trialResult .closeness{
    text-align: center;
    font-size: 2em;
    padding: 0 0.4rem;
}

.trialResult .closenessText{
    font-size: 1em;
}

.trialResult img{
    height: 8rem;
}

@media all and (min-width:50em){

    .guess {
        width:auto;
    }

    .radio-buttons .radio-button{
        margin: 0 2rem;
    }
}

@media all and (max-width:25em){

    .radio-buttons {
        flex-direction: column;
    }

}