.game, .gameRunning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.radio-buttons {
    margin: 1rem;
    display:flex;
    justify-content: center;
}

.radio-buttons label{
    margin: 1rem 3rem;
    font-size: 2em;
}

.number-input {
    margin: 1rem;
}

.guess {
    margin: 1rem;
}