.header-container {
    text-align: center;
    background-color: #133b5c ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    color: #fff;
    display: inline;
}

.gamepad {
    max-width: 100%;
    height: 8rem;
    margin : 1rem;
    display: inline-block;
}